POSTGRESQL_HOST=127.0.0.1
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=gamedb
PORT=3000
JWT_SECRET="Secret ToKens"
JWT_REFRESH_SECRET="refresh Secret Token"
JWT_EXPIRES=14d
